body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #111;
  color: #fff;
}

#game {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 30px 0;
}

.item {
  width: 200px;
}

.item img {
  width: clamp(120px, 20vw, 200px);
  height: auto;
  object-fit: contain;
  max-height:15vw;
}

.vs {
  font-size: 24px;
  font-weight: bold;
}

#buttons button {
  font-size: 18px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}

#result {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}
